<nb-card size="medium">
  <nb-card-body>
    <div class="picture" style.background-image="url({{data.image.src_thumb}})"></div>

    <div class="details">
      <div class="title">
        {{data.title}}
      </div>
      <div class="description">
        {{data.department_name}}, {{data.province_name}}, {{data.district_name}}
      </div>
    </div>
  </nb-card-body>


  <nb-card-footer>
    <a href="{{PATHS.SERVER}}propiedad/{{data.id}}/{{data.slug}}" target="_blank">
      <i class="ion-ios-world"></i>
    </a>
    <!--<button class="btn btn-info btn-icon btn-tn" (click)="showViewModal()">-->
      <!--<i class="ion-eye"></i>-->
    <!--</button>-->

  </nb-card-footer>
</nb-card>
