<nb-card>

  <nb-card-header>
    Mis Visitas
  </nb-card-header>

  <nb-card-body>

    <div class="row">
      <div class="col-md-12">

        <button class="btn btn-success btn-with-icon btn-tn" (click)="showAddVisitModal()" *ngIf="sessionRolId === ROLES.AGENTE">
          <i class="ion-plus-round"></i>
          <span>Agregar Visita</span>
        </button>


      </div>
    </div>
    <br>

    <ng2-smart-table [settings]="settings" [source]="source">
    </ng2-smart-table>

  </nb-card-body>

</nb-card>
