
<nb-card>

  <nb-card-header>
    Mis Propiedades
  </nb-card-header>

  <nb-card-body>

    <div class="row">
      <div class="col-md-12">

        <div class="form-group row ">

          <label class="col-sm-1 col-form-label font-weight-bold">Oficina</label>
          <div class="col-sm-2">

            <select class="form-control" name='offices' [(ngModel)]="propertyFields.office_id" (ngModelChange)="onChangeOffice($event)">
              <option *ngFor="let item of offices"  [ngValue]="item.id"> {{item.name}} </option>
            </select>

          </div>

          <label class="col-sm-1 col-form-label font-weight-bold">Agente</label>
          <div class="col-sm-3">

            <select class="form-control" name='users' [(ngModel)]="propertyFields.user_id" (ngModelChange)="onChangeUser($event)">
              <option *ngFor="let item of users"  [ngValue]="item.id"> {{item.name}} </option>
            </select>

          </div>

          <label class="col-sm-2 col-form-label font-weight-bold">Código de Propiedad</label>
          <div class="col-sm-2">

            <div class="input-group mail-btn-group">

              <input type="text" class="form-control" name='propertyId' placeholder="1101" [(ngModel)]="propertyId" (keypress)="onlyNumberKey($event)">
              <span class="input-group-btn">
                <button class="btn btn-info btn-icon" title="Buscar por codigo" [disabled]="propertyId == null || propertyId == ''" (click)="searchProperty()">
                  <i class="ion-ios-search"></i>
                </button>
              </span>

            </div>

            <div *ngIf="invalidProperty" class="alert alert-danger">
              {{invalidPropertyMessage}}
            </div>

          </div>

          <div class="col-sm-1">

            <button class="btn btn-danger btn-icon" title="Reiniciar" (click)="resetFilters()">
              <i class="ion-ios-refresh-outline"></i>
            </button>

          </div>

        </div>

        <fieldset>

          <legend>Ubicacion</legend>

          <div class="form-group row">

              <label class="col-sm-2 col-form-label font-weight-bold">Departamento</label>
              <div class="col-sm-3">

                <select class="form-control" name='department' id="department" [(ngModel)]="propertyFields.department_id" (ngModelChange)="onChangeDepartment($event)">
                  <option *ngFor="let item of departments"  [ngValue]="item.id"> {{item.name}} </option>
                </select>

              </div>

              <label class="col-sm-1 col-form-label font-weight-bold">Provincia</label>
              <div class="col-sm-2">

                <select class="form-control" name="province" id="province" [(ngModel)]="propertyFields.province_id" (ngModelChange)="onChangeProvince($event)">
                  <option *ngFor="let item of provinces" [ngValue]="item.id">{{item.name}}</option>
                </select>

              </div>

              <label class="col-sm-1 col-form-label font-weight-bold">Distrito</label>
              <div class="col-sm-3">

                <select class="form-control" name="district"  id="district" [(ngModel)]="propertyFields.district_id" required #district="ngModel">
                  <option *ngFor="let item of districts" [ngValue]="item.id">{{item.name}}</option>
                </select>

              </div>

          </div>

        </fieldset>

        <div class="form-group row">

          <label for="property_type" class="col-sm-2 form-control-label font-weight-bold">Tipo de propiedad</label>
          <div class="col-sm-3">
            <select class="form-control" id="property_type" [(ngModel)]="propertyFields.property_type_id">
              <option *ngFor="let item of propertyType"  [ngValue]="item.id"> {{item.name}} </option>
            </select>
          </div>

          <label for="property_status" class="col-sm-2 form-control-label font-weight-bold offset-2">Estado de propiedad</label>
          <div class="col-sm-3">
            <select class="form-control" id="property_status" [(ngModel)]="propertyFields.property_status_id">
              <option *ngFor="let item of propertyStatus" [ngValue]="item.id">{{item.name}}</option>
            </select>
          </div>

        </div>

        <div class="form-group row">

          <label class="col-sm-2 form-control-label font-weight-bold">Rango de precios</label>

          <label for="coin" class="col-sm-1 form-control-label">Moneda</label>
          <div class="col-sm-2">
            <select class="form-control" name="coin" id="coin" [(ngModel)]="propertyFields.property_coin_id">
              <option *ngFor="let item of propertyCoin" [ngValue]="item.id"> {{item.symbol}}    {{item.name}} </option>
            </select>
          </div>

          <label for="minimum" class="col-sm-1 form-control-label">Desde</label>

          <div class="col-sm-2">
            <input type="number" name="minimum"  id="minimum" class="form-control" [(ngModel)]="propertyFields.minimumPrice" min="0">
          </div>

          <label for="maximum" class="col-sm-1 form-control-label">Hasta</label>

          <div class="col-sm-2">
            <input type="number" name="maximum"  id="maximum" class="form-control" [(ngModel)]="propertyFields.maximumPrice" min="0">
          </div>

        </div>

        <div class="form-group row">

          <label class="col-sm-1 form-control-label font-weight-bold">Dormitorios</label>

          <div class="col-sm-2">

            <select class="form-control" name="bedrooms_operator" [(ngModel)]="propertyFields.bedrooms_operator">
              <option value="="> Igual (=) </option>
              <option value="!="> Diferente (!=) </option>
              <option value="<"> Menor (<) </option>
              <option value="<="> Menor igual (<=) </option>
              <option value=">"> Mayor (>) </option>
              <option value=">="> Mayor igual (>=) </option>
            </select>

          </div>

          <div class="col-sm-1">
            <input type="number" name="bedrooms" class="form-control" [(ngModel)]="propertyFields.bedrooms" min="0">
          </div>

          <label class="col-sm-2 form-control-label font-weight-bold">Estacionamientos</label>

          <div class="col-sm-2">

            <select class="form-control" name="bedrooms_operator" [(ngModel)]="propertyFields.parkings_operator">
              <option value="="> Igual (=) </option>
              <option value="!="> Diferente (!=) </option>
              <option value="<"> Menor (<) </option>
              <option value="<="> Menor igual (<=) </option>
              <option value=">"> Mayor (>) </option>
              <option value=">="> Mayor igual (>=) </option>
            </select>

          </div>

          <div class="col-sm-1">
            <input type="number" name="parkings" class="form-control" [(ngModel)]="propertyFields.parkings" min="0">
          </div>

          <div class="col-sm-1">
            <button class="btn btn-info btn-icon" (click)="searchProperties()"> <i class="ion-ios-search"></i>  Buscar</button>
          </div>

        </div>

      </div>
    </div>
    <br>

    <div class="table-responsive">

      <ng2-smart-table [settings]="settings" [source]="source">
      </ng2-smart-table>

    </div>

  </nb-card-body>

</nb-card>
