
<nb-card>

  <nb-card-header>
    Editar Propiedad
  </nb-card-header>

  <nb-card-body>

    <div class="row">

      <div class="col-md-10"></div>

      <div class="col-md-2">
        <br>
        <button class="btn btn-success btn-tn" (click)="updateProperty(propertyEditForm)"> <i class="fa fa-save"></i>  Actualizar</button>
      </div>
    </div>

    <div class="row">

      <div class="col-md-12">
        <br>
        <div class="alert alert-danger" role="alert" *ngFor="let item of validationMessages">
          <strong>Error!!!</strong> {{item}}
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-md-12">

        <nb-card size="extra-large">

          <nb-tabset fullWidth>

            <nb-tab tabTitle="Datos Principales">

              <form #propertyEditForm="ngForm" novalidate>

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label">Situación *</label>
                  <div class="col-sm-2">
                    <select class="form-control" id="propertyContract" name="propertyContract" [(ngModel)]="selectedPropertyContract" required #property_contract="ngModel">
                      <option *ngFor="let item of propertyContract" [ngValue]="item">{{item.name}}</option>
                    </select>

                    <small class="form-text error" *ngIf="property_contract.invalid">
                      Campo Requerido
                    </small>

                  </div>

                  <label class="col-sm-1 col-form-label">Exclusiva</label>
                  <div class="col-sm-2">
                    <select class="form-control" name="propertyExclusive" [(ngModel)]="propertyData.exclusivity" required #exclusivity="ngModel">
                      <option value="1">SI</option>
                      <option value="0">NO</option>
                    </select>

                    <small class="form-text error" *ngIf="exclusivity.invalid">
                      Campo Requerido
                    </small>

                  </div>

                  <label class="col-sm-2 col-form-label">Termino Contrato</label>
                  <div class="col-sm-3">
                    <input type="date" class="form-control" name="expirationAt" [(ngModel)]="propertyData.expirationAt">
                  </div>

                </div>

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label">Departamento</label>
                  <div class="col-sm-2">
                    <select class="form-control" name='department' id="department" [(ngModel)]="selectedDepartment" (ngModelChange)="onChangeDepartment($event)" required #department="ngModel">
                      <option *ngFor="let item of departments"  [ngValue]="item"> {{item.name}} </option>
                    </select>

                    <small class="form-text error" *ngIf="department.invalid">
                      Campo Requerido
                    </small>

                  </div>

                  <label class="col-sm-1 col-form-label">Provincia</label>
                  <div class="col-sm-3">
                    <select class="form-control" name="province" id="province" [(ngModel)]="selectedProvince" (ngModelChange)="onChangeProvince($event)" required #province="ngModel">
                      <option *ngFor="let item of provinces" [ngValue]="item">{{item.name}}</option>
                    </select>

                    <small class="form-text error" *ngIf="province.invalid">
                      Campo Requerido
                    </small>

                  </div>

                  <label class="col-sm-1 col-form-label">Distrito</label>
                  <div class="col-sm-3">
                    <select class="form-control" name="district"  id="district" [(ngModel)]="selectedDistrict" required #district="ngModel">
                      <option *ngFor="let item of districts" [ngValue]="item">{{item.name}}</option>
                    </select>

                    <small class="form-text error" *ngIf="district.invalid">
                      Campo Requerido
                    </small>

                  </div>

                </div>

                <div class="form-group row">
                  <label for="inputAddress" class="col-sm-2 col-form-label">Dirección</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="address" id="inputAddress" placeholder="Dirección" [(ngModel)]="propertyData.address">
                  </div>
                </div>

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label">Tipo de Propiedad</label>
                  <div class="col-sm-2">
                    <select class="form-control" id="propertyType" name="propertyType" [(ngModel)]="selectedPropertyType" (ngModelChange)="onChangePropertyType($event)"
                            required #property_type="ngModel">
                      <option *ngFor="let item of propertyType" [ngValue]="item">{{item.name}}</option>
                    </select>

                    <!--<pre>Invalid? {{ property_type.invalid }}</pre>-->

                    <small class="form-text error" *ngIf="property_type.invalid">
                      Campo Requerido
                    </small>

                  </div>

                  <label class="col-sm-2 col-form-label">Tipo de {{selectedPropertyType.name}}</label>
                  <div class="col-sm-2">
                    <select class="form-control" id="propertySubType" name="propertySubType">
                      <option *ngFor="let item of propertySubType" [ngValue]="item">{{item.name}}</option>
                    </select>
                  </div>

                  <label class="col-sm-2 col-form-label">Estado</label>
                  <div class="col-sm-2">

                    <select class="form-control" id="propertyStatus" name="propertyStatus" [(ngModel)]="selectedPropertyStatus"
                            required #property_status="ngModel">
                      <option *ngFor="let item of propertyStatus" [ngValue]="item">{{item.name}}</option>
                    </select>

                    <small class="form-text error" *ngIf="property_status.invalid">
                      Campo Requerido
                    </small>

                  </div>

                </div>

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label">Precio</label>

                  <div class="col-sm-2">
                    <select name="coin" id="coin" class="form-control" [(ngModel)]="selectedPropertyCoin" required #property_coin="ngModel">
                      <option *ngFor="let item of propertyCoin" [ngValue]="item">{{item.symbol}}</option>
                    </select>

                    <small class="form-text error" *ngIf="property_coin.invalid">
                      Campo Requerido
                    </small>

                  </div>

                  <div class="col-sm-2">
                    <input type="text" class="form-control"  name="price" id="inputPrice" placeholder="Precio" [(ngModel)]="propertyData.price"
                    required #price="ngModel">

                    <small class="form-text error" *ngIf="price.invalid">
                      Campo Requerido
                    </small>

                  </div>

                  <label class="col-sm-2 col-form-label offset-md-1">Comisión (%)</label>

                  <div class="col-sm-2">
                    <input type="number" class="form-control" name="commission_percentage" id="inputComission"
                           placeholder="Comisión" min="1" [(ngModel)]="propertyData.commission_percentage"
                           required #comission_percentage="ngModel">

                    <small class="form-text error" *ngIf="comission_percentage.invalid">
                      Campo Requerido
                    </small>

                  </div>

                </div>

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label">Area - Terreno</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" name="area" id="inputArea" placeholder="Area" [(ngModel)]="propertyData.area" required #area="ngModel">

                    <small class="form-text error" *ngIf="area.invalid">
                      Campo Requerido
                    </small>

                  </div>
                  <div class="col-sm-2">
                    <select name="area_type" class="form-control" [(ngModel)]="propertyData.area_type" required #area_type="ngModel">
                      <option *ngFor="let item of areaType" [ngValue]="item.name">{{item.name}}</option>
                    </select>

                    <small class="form-text error" *ngIf="area_type.invalid">
                      Campo Requerido
                    </small>

                  </div>

                  <label class="col-sm-2 col-form-label">Area Construida</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" name="areaBuilt" id="inputBuildArea" placeholder="Area" [(ngModel)]="propertyData.area_built">
                  </div>
                  <div class="col-sm-2">
                    <select name="areaBuildType" class="form-control" [(ngModel)]="propertyData.area_built_type">
                      <option *ngFor="let item of areaBuiltType" [ngValue]="item.name">{{item.name}}</option>
                    </select>
                  </div>

                </div>

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label">Año construcción</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" name="years" placeholder="Año construcción" [(ngModel)]="propertyData.years">
                  </div>


                  <label class="col-sm-2 col-form-label offset-md-3">Antiguedad</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" name="antiquity" placeholder="Antiguedad" [(ngModel)]="propertyData.antiquity">
                  </div>

                </div>

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label">Habitaciones</label>
                  <div class="col-sm-1">
                    <input type="number" class="form-control" name="bedrooms" min="0" [(ngModel)]="propertyData.bedrooms" [disabled]="selectedPropertyType.id == PROPERTY_TYPE.TERRENO">
                  </div>

                  <label class="col-sm-1 col-form-label">Baños</label>
                  <div class="col-sm-1">
                    <input type="number" class="form-control" name="bathrooms" min="0" [(ngModel)]="propertyData.bathrooms" [disabled]="selectedPropertyType.id == PROPERTY_TYPE.TERRENO">
                  </div>

                  <label class="col-sm-1 col-form-label">Pisos</label>
                  <div class="col-sm-1">
                    <input type="number" class="form-control" name="floors" min="0" [(ngModel)]="propertyData.floors" [disabled]="selectedPropertyType.id == PROPERTY_TYPE.TERRENO">
                  </div>

                  <label class="col-sm-2 col-form-label">Estacionamientos</label>
                  <div class="col-sm-1">
                    <input type="number" class="form-control" name="parkings" min="0" [(ngModel)]="propertyData.parkings" [disabled]="selectedPropertyType.id == PROPERTY_TYPE.TERRENO">
                  </div>

                </div>

                <br>
                <hr>

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label">Título</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" placeholder="Título" [(ngModel)]="propertyData.title"
                    required #title="ngModel">

                    <small class="form-text error" *ngIf="title.invalid">
                      Campo Requerido
                    </small>

                  </div>

                </div>

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label">Descripción</label>

                  <div class="col-sm-10">
                    <textarea class="form-control" name="description" [(ngModel)]="propertyData.description"></textarea>
                  </div>

                </div>

                <br>
                <hr>

                <div class="form-group text-center">
                  <h5>Caracteristicas de la propiedad - {{selectedPropertyType.name}}</h5>
                </div>

                <div class="form-group row">

                  <nb-checkbox class="col-sm-3" [value]="item.checked" *ngFor="let item of propertyTypeFeatures" (change)="selectPropertyFeatures(item, $event)">{{item.name}}</nb-checkbox>

                </div>

                <hr>

                <!--<button class="btn btn-success btn-tn pull-right" [disabled]="propertyAddForm.invalid" (click)="createProperty(propertyAddForm)"> <i class="fa fa-save"></i>  Guardar</button>-->

              </form>

            </nb-tab>

            <nb-tab tabTitle="Imagenes">

              <div class="form-group">

                <input style="display: none" type="file" (change)="onImageFileSelected($event)" #fileInputImage multiple>

                <button class="btn btn-info btn-tn" (click)="fileInputImage.click()"><i class="fa fa-image"></i> Seleccionar Imagen</button>

                <!--<button class="btn btn-success btn-tn pull-right" [disabled]="selectedImageFilePreview.length == 0" (click)="propertyImagesUpload()"> <i class="fa fa-upload"></i>  Subir Imagenes</button>-->

              </div>

              <div style="margin: 8px; display: inline-block; position: relative"  *ngFor="let url of selectedImageFilePreview; let i = index">
                <img  [src]="url" class="rounded mb-3" width="360" height="250">

                <button class="btn btn-danger btn-tn del_photo" (click)="deletePropertyImagePreview(i)"><i class="fa fa-trash"></i></button>
              </div>

              <hr>

              <div style="margin: 8px; display: inline-block; position: relative"  *ngFor="let item of propertyData.images; let i = index">
                <img  [src]="item.src" class="rounded mb-3" width="360" height="250">

                <button class="btn btn-danger btn-tn del_photo" (click)="deletePropertyImage(item.id, i)"><i class="fa fa-trash"></i></button>
              </div>

            </nb-tab>

            <nb-tab tabTitle="Propietario">

              <div class="row">

                <div class="col-sm-6">

                  <div class="form-group row">

                    <label class="col-sm-2 col-form-label">Buscar</label>

                    <div class="col-sm-10">
                      <!--<span class="input-group-addon success"><i class="fa fa-search"></i></span>-->
                      <input ngui-auto-complete type="text" class="form-control" placeholder="Buscar Cliente"
                          [source]="observableSource.bind(this)"
                          list-formatter="name"
                          no-match-found-text="No hay resultados"
                          (valueChanged)="onCustomerSelected($event)"
                      />
                    </div>


                  </div>

                  <div class="form-group row">

                    <label class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputCustomerName" placeholder="Nombre Cliente" [(ngModel)]="selectedCustomer.name" disabled>
                    </div>

                  </div>

                  <div class="form-group row">

                    <label class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputCustomerEmail" placeholder="Email Cliente" [(ngModel)]="selectedCustomer.email" disabled>
                    </div>

                  </div>

                  <div class="form-group row">

                    <label class="col-sm-2 col-form-label">Telefono</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputCustomerPhone" placeholder="Telefono Cliente" [(ngModel)]="selectedCustomer.first_phone" disabled>
                    </div>

                  </div>

                </div>

                <div class="col-sm-6">

                  <div class="form-group row">
                    <button class="btn btn-info btn-tn pull-right" (click)="showAddCustomerrModal()">
                      <i class="ion-plus-round"></i>
                      <span>Agregar Cliente</span>
                    </button>
                  </div>

                  <div class="form-group row">

                    <label class="col-sm-5 col-form-label">Configurar notificaciones</label>

                    <div class="demo-radio col-sm-4">
                      <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="customRadio" [value]="0" [(ngModel)]="propertyData.report_visits">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">No</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="customRadio" [value]="1" [(ngModel)]="propertyData.report_visits">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Si</span>
                      </label>
                    </div>

                  </div>

                  <div class="form-group row" *ngIf="this.propertyData.report_visits == 1">

                    <label class="col-sm-5 form-control-label" for="timePeriod">Periodo de días:</label>
                    <div class="col-sm-7">
                      <select class="form-control" name="timePeriod" id="timePeriod" [(ngModel)]="propertyData.report_days" required #timePeriod="ngModel">
                        <option value="7">7 - cada semana</option>
                        <option value="15">15 - cada 2 semanas</option>
                        <option value="22">22 - cada 3 semanas</option>
                        <option value="30">30 - cada mes</option>
                        <option value="45">45 - cada mes y medio</option>
                        <option value="60">60 - cada 2 meses </option>
                      </select>
                    </div>

                  </div>

                </div>

              </div>


            </nb-tab>

            <nb-tab tabTitle="Mapa de Ubicación">

              <div class="form-group">
                <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
              </div>

              <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="mapClick($event)">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>

            </nb-tab>

            <nb-tab tabTitle="Archivos">

              <div class="form-group">

                <input style="display: none" type="file" (change)="onAttachFileSelected($event)" #fileInputAttach multiple>

                <button class="btn btn-info btn-tn" (click)="fileInputAttach.click()"><i class="fa fa-file"></i> Seleccionar Archivo</button>

                <!--<button class="btn btn-success btn-tn pull-right" [disabled]="selectedAttachFilePreview.length == 0" (click)="propertyFilesUpload()"> <i class="fa fa-upload"></i>  Subir Archivos</button>-->

              </div>

              <div class="form-group">
                <br>
                <ul>
                  <li *ngFor="let item of selectedAttachFilePreview; let i = index"><p>{{item.name}}  &nbsp;&nbsp;&nbsp; <i class="fa fa-trash" (click)="deleteAttachFilePreview(i)"></i></p></li>
                </ul>

                <hr>

                <ul>
                  <li *ngFor="let item of propertyData.files; let i = index"><p>{{item.file_name}}  &nbsp;&nbsp;&nbsp; <i class="fa fa-trash" (click)="deleteAttachFile(item.id, i)"></i></p></li>
                </ul>

                <br>
              </div>

            </nb-tab>

            <nb-tab tabTitle="Video">

              <div class="form-group row">
                <label for="inputVideoUrl" class="col-sm-2 col-form-label">Dirección URL</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputVideoUrl" name="videoUrl" placeholder="Dirección URL" [(ngModel)]="propertyData.video_url">
                </div>
              </div>

              <!--<div class="col-sm-12">-->

                <!--<iframe width="1050" height="480" src="https://www.youtube.com/embed/GbBD47TF6Cw?list=PLVyy6A62zGMRRjyISDWN5zhf9rsNOqUa9" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->

              <!--</div>-->

            </nb-tab>

          </nb-tabset>

        </nb-card>

      </div>
    </div>
    <br>


  </nb-card-body>

</nb-card>
