<div class="modal-header">
  <span>{{ modalHeader }}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">


  <nb-card>

    <nb-card-body>
      <nb-tabset fullWidth>

        <nb-tab tabTitle="Datos">

          <form #propertyAddForm="ngForm" novalidate>

            <div class="form-group row ">

              <label class="col-sm-2 col-form-label font-weight-bold">Situación: </label>
              <label class="col-sm-2 col-form-label">{{propertyData.property_contract_name}}</label>

              <label class="col-sm-1 col-form-label font-weight-bold">Exclusiva: </label>
              <label class="col-sm-2 col-form-label">{{propertyData.exclusivity_name}}</label>

              <label class="col-sm-2 col-form-label">Termino Contrato: </label>
              <label class="col-sm-3 col-form-label">{{propertyData.expirationAt}}</label>

            </div>

            <div class="form-group row">

              <label class="col-sm-2 col-form-label font-weight-bold">Departamento: </label>
              <label class="col-sm-2 col-form-label">{{propertyData.department_name}}</label>

              <label class="col-sm-1 col-form-label font-weight-bold">Provincia: </label>
              <label class="col-sm-3 col-form-label">{{propertyData.department_name}}</label>

              <label class="col-sm-1 col-form-label font-weight-bold">Distrito: </label>
              <label class="col-sm-3 col-form-label">{{propertyData.district_name}}</label>

            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label font-weight-bold">Dirección: </label>
              <label class="col-sm-10 col-form-label">{{propertyData.address}}</label>
            </div>

            <div class="form-group row ">

              <label class="col-sm-2 col-form-label font-weight-bold">Tipo de Propiedad: </label>
              <label class="col-sm-2 col-form-label">{{propertyData.property_type_name}}</label>

              <label class="col-sm-2 col-form-label font-weight-bold ">Tipo de {{propertyData.property_type_name}}</label>
              <label class="col-sm-2 col-form-label">{{propertyData.property_subtype_name}}</label>

              <label class="col-sm-2 col-form-label font-weight-bold">Estado: </label>
              <label class="col-sm-2 col-form-label">{{propertyData.property_status_name}}</label>

            </div>

            <div class="form-group row">

              <label class="col-sm-2 col-form-label font-weight-bold">Precio: </label>
              <label class="col-sm-3 col-form-label">{{propertyData.property_coin_symbol}} {{propertyData.price}}</label>

              <label class="col-sm-2 col-form-label offset-md-1">Comisión (%): </label>
              <label class="col-sm-2 col-form-label">{{propertyData.percentage}}</label>

            </div>

            <div class="form-group row">

              <label class="col-sm-2 col-form-label font-weight-bold">Area - Terreno: </label>
              <label class="col-sm-3 col-form-label">{{propertyData.area}} {{propertyData.area_type}} </label>

              <label class="col-sm-2 col-form-label offset-md-2 font-weight-bold">Area Construida:</label>
              <label class="col-sm-2 col-form-label">{{propertyData.area_built}} {{propertyData.area_built_type}}</label>

            </div>

            <div class="form-group row">

              <label class="col-sm-2 col-form-label font-weight-bold">Año construcción: </label>
              <label class="col-sm-2 col-form-label">{{propertyData.years}}</label>

              <label class="col-sm-2 col-form-label offset-md-3 font-weight-bold">Antiguedad: </label>
              <label class="col-sm-2 col-form-label">{{propertyData.antiquity}}</label>

            </div>

            <div class="form-group row">

              <label class="col-sm-2 col-form-label font-weight-bold">Habitaciones:</label>
              <label class="col-sm-1 col-form-label">{{propertyData.bedrooms}}</label>

              <label class="col-sm-1 col-form-label font-weight-bold">Baños: </label>
              <label class="col-sm-1 col-form-label">{{propertyData.bathrooms}}</label>

              <label class="col-sm-1 col-form-label font-weight-bold">Pisos: </label>
              <label class="col-sm-1 col-form-label">{{propertyData.floors}}</label>

              <label class="col-sm-2 col-form-label font-weight-bold">Estacionamientos: </label>
              <label class="col-sm-1 col-form-label">{{propertyData.parkings}}</label>

            </div>

            <br>
            <hr>

            <div class="form-group row">

              <label class="col-sm-2 col-form-label font-weight-bold">Título:</label>

              <label class="col-sm-10 col-form-label">{{propertyData.title}}</label>

            </div>

            <div class="form-group row">

              <label class="col-sm-2 col-form-label font-weight-bold">Descripción: </label>

              <label class="col-sm-10 col-form-label">{{propertyData.description}}</label>

            </div>

            <br>
            <hr>

            <div class="form-group text-center">
              <h5>Caracteristicas de la propiedad</h5>
            </div>

            <div class="form-group row">

              <label class="col-sm-3" *ngFor="let item of propertyData.features">{{item.feature_name}}</label>

            </div>

          </form>

        </nb-tab>

        <nb-tab tabTitle="Imagenes">

          <br>
          <!--<div style="margin: 15px; display: inline-block; position: relative"  *ngFor="let item of property.images; let i = index">-->

            <img  [src]="item.src_thumb" class="rounded mb-3" width="180" height="180" *ngFor="let item of propertyData.images">

          <!--</div>-->

        </nb-tab>

        <nb-tab tabTitle="Propietario">

          <br>
          <div class="row">

            <div class="col-sm-6">

              <div class="form-group row">

                <label class="col-sm-2 col-form-label font-weight-bold">Nombre: </label>
                <label class="col-sm-10 col-form-label">{{propertyData.customer_name}}</label>

              </div>

              <div class="form-group row">

                <label class="col-sm-2 col-form-label font-weight-bold">Email: </label>
                <label class="col-sm-10 col-form-label">{{propertyData.customer_email}}</label>

              </div>

              <div class="form-group row">

                <label class="col-sm-2 col-form-label font-weight-bold">Telefono: </label>
                <label class="col-sm-10 col-form-label">{{propertyData.customer_first_phone}}</label>

              </div>

            </div>

            <div class="col-sm-6">

              <div class="form-group row" *ngIf="propertyData.report_visits">

                <label class="col-sm-5 col-form-label">Notificaciones</label>

                <label class="col-sm-5 col-form-label">cada {{propertyData.report_days}}</label>

              </div>

            </div>

          </div>


        </nb-tab>

        <nb-tab tabTitle="Mapa">

          <!--<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">-->
          <!--<agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>-->
          <!--</agm-map>-->

        </nb-tab>

        <nb-tab tabTitle="Archivos">

          <div class="form-group">
          <br>
          <ul>
          <li *ngFor="let item of propertyData.files"><p>{{item.file_name}}</p></li>
          </ul>
          <br>
          </div>

        </nb-tab>

        <nb-tab tabTitle="Video">
          <br>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Dirección URL</label>
            <label class="col-sm-10 col-form-label">{{propertyData.video_url}}</label>
          </div>

          <div class="col-sm-12">

            <!--<iframe width="680" height="480" src="{{propertyData.video_url}}" allowfullscreen></iframe>-->

          </div>

        </nb-tab>

      </nb-tabset>
    </nb-card-body>

  </nb-card>


</div>

<div class="modal-footer">
  <button class="btn btn-danger btn-with-icon btn-tn" (click)="closeModal()"> <i class="fa fa-times-circle"></i> Cancelar</button>
</div>
