	<div class="modal-header">
      <span>{{ modalHeader }}</span>
      <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">

    	<div class="row">
      		<div class="col-md-12">

      			<nb-card size="extra-large">
          <nb-tabset fullWidth>

            <nb-tab tabTitle="Datos Principales">

              <form #propertyAddForm="ngForm" novalidate>

                <div class="form-group row ">

                  <label class="col-sm-2 col-form-label">Situación: </label>
                  <label class="col-sm-2 col-form-label">{{propertyData.contract_name}}</label>
               
                  <label class="col-sm-1 col-form-label">Exclusiva: </label>
                  <label class="col-sm-2 col-form-label">{{propertyData.exclusivity_name}}</label>

                  <label class="col-sm-2 col-form-label">Termino Contrato: </label>
                  <label class="col-sm-3 col-form-label">{{propertyData.expirationAt}}</label>

                </div>

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label">Departamento: </label>
                  <label class="col-sm-2 col-form-label">{{propertyData.department_name}}</label>
                  
                  <label class="col-sm-1 col-form-label">Provincia: </label>
                  <label class="col-sm-3 col-form-label">{{propertyData.department_name}}</label>

                  <label class="col-sm-1 col-form-label">Distrito: </label>
                  <label class="col-sm-3 col-form-label">{{propertyData.district_name}}</label>
                  
                </div>

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Dirección: </label>
                  <label class="col-sm-10 col-form-label">{{propertyData.address}}</label>                  
                </div>

                <div class="form-group row ">

                  <label class="col-sm-2 col-form-label">Tipo de Propiedad: </label>
                  <label class="col-sm-2 col-form-label">{{propertyData.property_type_name}}</label>
                  
                  <label class="col-sm-2 col-form-label">Tipo de {{propertyData.property_type_name}}</label>
                  <label class="col-sm-2 col-form-label">{{propertyData.property_subtype_name}}</label>                  

                  <label class="col-sm-2 col-form-label">Estado: </label>
                  <label class="col-sm-2 col-form-label">{{propertyData.property_status_name}}</label>
                  
                </div>

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label">Precio: </label>
                  <label class="col-sm-3 col-form-label">{{propertyData.property_coin_symbol}} {{propertyData.price}}</label>                

                  <label class="col-sm-2 col-form-label offset-md-1">Comisión (%): </label>
                  <label class="col-sm-2 col-form-label">{{propertyData.percentage}}</label>

                </div>

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label">Area - Terreno: </label>
                  <label class="col-sm-3 col-form-label">{{propertyData.area}}</label>                  

                  <label class="col-sm-2 col-form-label offset-md-2">Area Construida</label>
                  <label class="col-sm-2 col-form-label">{{propertyData.area_built}}</label>

                </div>

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label">Año construcción</label>
                  <label class="col-sm-2 col-form-label">{{propertyData.years}}</label>                  

                  <label class="col-sm-2 col-form-label offset-md-3">Antiguedad</label>
                  <label class="col-sm-2 col-form-label">{{propertyData.antiquity}}</label>                  
                  
                </div>

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label">Habitaciones</label>
                  <label class="col-sm-1">{{propertyData.bedrooms}}</label>

                  <label class="col-sm-1 col-form-label">Baños</label>
                  <label class="col-sm-1 col-form-label">{{propertyData.bathrooms}}</label>                  

                  <label class="col-sm-1 col-form-label">Pisos</label>
                  <label class="col-sm-1 col-form-label">{{propertyData.floors}}</label>                

                  <label class="col-sm-2 col-form-label">Estacionamientos</label>
                  <label class="col-sm-1 col-form-label">{{propertyData.parkings}}</label>                                  

                </div>

                <br>
                <hr>

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label">Título</label>

                  <label class="col-sm-10">{{propertyData.title}}</label>                  

                </div>

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label">Descripción</label>

                  <label class="col-sm-10">{{propertyData.description}}</label>                  

                </div>

                <br>
                <hr>

                <div class="form-group text-center">
                  <h5>Caracteristicas de la propiedad</h5>
                </div>

                <div class="form-group row">

                  <label class="col-sm-3" *ngFor="let item of features">{{item.name}}</label>

                </div>

              </form>

            </nb-tab>

            <nb-tab tabTitle="Imagenes">

<!--               <div style="margin: 15px; display: inline-block; position: relative"  *ngFor="let item of property.images; let i = index">

                <img  [src]="item.url" class="rounded mb-3" width="180" height="180">

              </div> -->

            </nb-tab>

            <nb-tab tabTitle="Propietario">

              <div class="row">

                <div class="col-sm-6">

                  <div class="form-group row">

                  </div>

                  <div class="form-group row">

                    <label class="col-sm-2 col-form-label">Nombre</label>
                    <label class="col-sm-10 col-form-label">{{propertyData.customer_name}}</label>

                  </div>

                  <div class="form-group row">

                    <label class="col-sm-2 col-form-label">Email</label>
                    <label class="col-sm-10 col-form-label">{{propertyData.customer_email}}</label>

                  </div>

                  <div class="form-group row">

                    <label class="col-sm-2 col-form-label">Telefono</label>
                    <label class="col-sm-10 col-form-label">{{propertyData.first_phone}}</label>

                  </div>

                </div>

                <div class="col-sm-6">

                  <div class="form-group row" *ngIf="propertyData.report_visits">

                    <label class="col-sm-5 col-form-label">Notificaciones</label>

                    <label class="col-sm-5 col-form-label">cada {{propertyData.report_days}}</label>

                  </div>

                </div>

              </div>


            </nb-tab>

            <nb-tab tabTitle="Mapa de Ubicación">

              <!--<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">-->
                <!--<agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>-->
              <!--</agm-map>-->

            </nb-tab>

            <nb-tab tabTitle="Archivos">

              <!--<div class="form-group">-->
                <!--<br>-->
                <!--<ul>-->
                  <!--<li *ngFor="let item of selectedAttachFilePreview; let i = index"><p>{{item.name}}  &nbsp;&nbsp;&nbsp; <i class="fa fa-trash"></i></p></li>-->
                <!--</ul>-->
                <!--<br>-->
              <!--</div>-->

            </nb-tab>

            <nb-tab tabTitle="Video">

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Dirección URL</label>
                <label class="col-sm-10 col-form-label">{{propertyData.video_url}}</label>
              </div>

              <div class="col-sm-12">

                <iframe width="1050" height="480" src="{{propertyData.video_url}}" allowfullscreen></iframe>

              </div>

            </nb-tab>

          </nb-tabset>
        </nb-card>

      		</div>
      	</div>

    </div>

    <div class="modal-footer">
      <button class="btn btn-danger btn-with-icon btn-tn" (click)="closeModal()"> <i class="fa fa-times-circle"></i> Cancelar</button>
    </div>
