// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();
};

html {
  font-size: 14px!important;
}

.nb-theme-default .form-control:disabled {
  background: #dadfe67a;
}

.nb-theme-default .btn {
  cursor: pointer!important;
}

.overlayDiv {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #e3e9ee9c;
  z-index: 10001;
}
.overlayDiv > i {
  position: absolute;
  left: 48%;
  top: 50%;
  color: #40dc7e;
}
